<div class="container">

<h6 style="text-align:center"><%= @car.brand %>'s dream car rides..</h6>


<!-- *************** INJECTED CONTROLLER KIND ***************************** -->

   <% @bookings = policy_scope(Booking).where(car_id: @car) %>


<!-- *************** TABLEAU ***************************** -->
  <% i = 0 %>
      <% sum = 0 %>
      <% days = 0 %>

  <% @bookings.each do |booking| %>
    <% i += 1 %>
    <% days += (booking.bk_end - booking.bk_start).to_i %>
    <%  sum += days * booking.car.price %>
    <% end %>

<div class="row">
<ul class="dash-container space-between">

      <div class="table-dash dash-item"> &num;&female;: <strong><%= i %></strong> | </div>
      <div class="table-dash dash-item"> &sum;d: <strong><%= days %></strong> | </div>
      <div class="table-dash dash-item"> &prod; &real;: <strong><%=number_to_currency((sum), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%></strong></div>
</ul>
  </div>

<!-- *************** HEADER ***************************** -->

  <div class="row">
    <ul class="flex-container flex-start table-header">
      <li class="car-flex-item col-1"></li>
      <li class="car-flex-item col-2">Driver</li>
     <!--  <li class="car-flex-item col-3">Owner</li> -->
      <li class="car-flex-item col-3">Purpose</li>
      <li class="car-flex-item col-4">End Date</li>
      <li class="car-flex-item col-4">Days</li>
      <li class="car-flex-item col-5">Total cost</li>
      <li class="car-flex-item col-6">Rating</li>
       <li class="car-flex-item col-7">Review</li>
    </ul>

    <% @bookings.each do |booking| %>

    <ul class="flex-container flex-start table-row">
      <li class="car-flex-item col-1"><%= image_tag booking.driver.photo %></li>
      <li class="car-flex-item col-2"><%= booking.driver.name %></li>
  <!--     <li class="car_flex-item col-2"><%= booking.car.brand %></li> -->
      <li class="car-flex-item col-3"><%= booking.purpose %></li>
      <li class="car-flex-item col-3"><%= booking.bk_end %></li>

      <li class="car-flex-item col-4"><%= days = (booking.bk_end - booking.bk_start).to_i %></li>
      <li class="car-flex-item col-5">
        <%=number_to_currency((booking.car.price * days), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%>
      </li>
      <li>
        <div class="car-flex-item tbl-rating-holder col-6">
          <div class="c-rating c-rating--small" data-rating-value="<%= rand(1..5) %>">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </li>
      <li class="car-flex-item col-7"><i class="fas fa-file-alt" style="font-size: 30px" onclick="" ="document.getElementById('id01').style.display='block'"></i></li>
    </ul>

<!-- hidden div -->
     <ul id="review" style="display:none;" class="flex-container flex-start table-row review-ul">
          <li class="flex-item">
            <div>
              <%= booking.car.description %>
            </div>
          </li>
      </ul>


     <% end %>

  </div>
</div>


