<div class="container">

<h2><%= current_user.name %>'s garage..decent one</h2>

 <!-- ***************Injected controller **************** -->
    <% @cars = Car.where(owner: current_user)%>
    <% @bookings = policy_scope(Booking).where(car: @cars) %>


<!-- *************** TABLEAU ***************************** -->
  <% i = 0 %>
      <% sum = 0 %>
      <% days = 0 %>

  <% @bookings.each do |booking| %>
    <% i += 1 %>
    <% days += (booking.bk_end - booking.bk_start).to_i %>
    <%  sum += days * booking.car.price %>
    <% end %>

<div class="row">
<ul class="dash-container space-between">

      <div class="table-dash dash-item"> &num;&female;: <strong><%= i %></strong> | </div>
      <div class="table-dash dash-item"> &sum;d: <strong><%= days %></strong> | </div>
      <div class="table-dash dash-item"> &prod; &real;: <strong><%=number_to_currency((sum), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%></strong></div>
</ul>
  </div>
<!-- *************** HEADER ***************************** -->

  <div class="row">

    <ul class="flex-container flex-start table-header">
      <li class="flex-item col-1">myKarr</li>
      <li class="flex-item col-3">Brand</li>
      <li class="flex-item col-3">Model</li>
      <li class="flex-item col-4">Year</li>
      <li class="flex-item col-5">Mileage</li>
      <li class="flex-item col-5">Price</li>
      <li class="flex-item col-7">Rating</li>
       <!-- <li class="flex-item col-7">Review</li> -->
    </ul>


    <% @bookings.each do |booking| %>

    <ul class="flex-container flex-start table-row">
      <li class="flex-item col-1"><%= image_tag booking.car.car_photo %></li>
  <!--<li class="flex-item col-2"><%= booking.driver.name %></li>-->
      <li class="flex-item col-3"><%= booking.car.brand %></li>
      <li class="flex-item col-3"><%= booking.car.model %></li>
      <li class="flex-item col-4"><%= booking.car.year %></li>
      <li class="flex-item col-5">
        <%=number_to_currency((booking.car.mileage), precision: 0, unit: "km", separator: ",", delimiter: ".", format: "%n %u")%>
      </li>
      <li class="flex-item col-5">
              <%=number_to_currency((booking.car.price), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%>
      </li>
      <li>
        <div class="flex-item tbl-rating-holder col-6">
          <div class="c-rating c-rating--small" data-rating-value="<%= rand(1..5) %>">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
          </div>
        </div>
      </li>
    </ul>

    <!-- hidden div -->
     <ul id="review" style="display:none;" class="flex-container flex-start table-row review-ul">
          <li class="flex-item">
            <div>
              <%= booking.car.description %>
            </div>
          </li>
      </ul>


     <% end %>

  </div>

</div>
