  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-6 col-xs-6">
          <h1>Welcome to Vintage Karr</h1>
          <br>
          <p>Rent-a-Karr from the best collection of Hollywood's most famous cars <br>and vehicles in the universe!</p>
          <br>
          <%= link_to cars_path do  %>
          <button class="btn btn-primary btn-lg">Find your KARR</button>
          <% end %>
        </div>
        <div class="col-xs-6"></div>
      </div>
    </div>
  </div>
  <div class="blue-bg padded">
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-card">
            <%= image_tag('karr.png') %>
      <!--       <i class="fas fa-car"></i> -->


            <!-- <img src="../"> -->

            <h2>KARR</h2>
            <p>KARR is the name of a automated vehicle featured as a major antagonist of KITT</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-card">
            <!-- <img src="../shared/images/.svg"> -->
            <%= image_tag('kitt.png') %>
            <h2>KITT</h2>
            <p>KITT is the short name of two characters from the TV series Knight Rider</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-card">
            <!-- <img src="../shared/images/.svg"> -->
            <%= image_tag('bttf_delorean.png') %>
            <h2>DeLorean Time Machine</h2>
            <p>The DeLorean time machine is a automobile-based time travel vehicle</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="home-card">
            <!-- <img src="../shared/images/.svg"> -->
            <%= image_tag('batmobile.png') %>
            <h2>Batmobile</h2>
            <p>The Batmobile is a heavily armored, weaponized vehicle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center padded newsletter">
    <h2>Subscribe to the Vintage Karr newsletter</h2>
    <p>Leave us your mail and get our latest news</p>
    <form class="form-inline">
      <input type="email" placeholder="name@email.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary">
    </form>
  </div>

  <div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(38.7260865,-9.1476757);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"You are here!"
  });
  </script>
  </div>

