<div class="car-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= @car.car_photo %>); background-size: cover; background-repeat: no-repeat; background-position: center">

  <div class="car-info">
    <p><i class="far fa-grin-stars"></i> <%= @car.car_type %></p>
    <p><i class="fas fa-gas-pump"></i> <%= @car.fuel_type %></p>
    <p><i class="fas fa-industry"></i> <%= @car.year %></p>
    <p><i class="fas fa-car-crash"></i> <%= number_with_delimiter(@car.mileage, :delimiter => '.') %> km</p>
  </div>

  <div class="car-name">
    <h2><%= @car.brand %></h2>
    <p><%= @car.model %></p>
  </div>

  <div class="car-price">
    <p><%= @car.price.to_i %></p>
    <p class="smaller">€/day</p>
  </div>

  <div class="user-info">
    <%= image_tag @car.owner.photo %>
    <p><%= @car.owner.name %></p>
    <p><i class="fas fa-map-marker-alt"></i> <%= @car.owner.address %></p>
  </div>
</div>

<div class="card-bottom">
  <div class="car-desc">
    <p><%= @car.description %></p>
  </div>

  <div class="booking-form">
  </div>
</div>
