<div class="container">

  <div class="row">

    <div class="car-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= @car.car_photo %>); background-size: cover; background-repeat: no-repeat; background-position: center">

      <div class="car-name">
        <h2><%= @car.brand %></h2>
      </div>

      <div class="car-price">
        <p id="price-day"><%= @car.price.to_i %></p>
        <p class="smaller">€/day</p>
      </div>

      <div class="user-info">
        <%= cl_image_tag @car.owner.photo %>
        <div class="user-rating">

          <% owner_rtg =  @car.owner.ratings.reject { |rating| rating.booking.driver == @car.owner } %>
          <% user_rtg = owner_rtg.count.zero? ? 0 : (owner_rtg.pluck(:rt_owner).reduce(:+) / owner_rtg.count.to_f).round(0) %>

          <% if user_rtg.zero? %>
          <% else %>
            <% (user_rtg).times do %>
              <i class="fas fa-circle fa-xs"></i>
            <% end %>
            <% (5 - user_rtg).times do %>
              <i class="far fa-circle fa-xs"></i>
            <% end %>
          <% end %>

        </div>
        <p><%= @car.owner.name %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= @car.owner.address %></p>
      </div>
    </div>

  </div>

  <div class="row row-ratings">
    <div class="car-circles">
        <% if @car.ratings.count.zero? %>
        <% else %>
          <div class="rating">
            <% rtg = (@car.ratings.sum(:rt_fun) / @car.ratings.count.to_f).round(0) %>
            <p>
              <% (rtg).times do %><i class="fas fa-circle fa-xs"></i><% end %><% (5 - rtg).times do %><i class="far fa-circle fa-xs"></i><% end %>
               Fun
            </p>
          </div>

          <div class="rating">
            <% rtg = (@car.ratings.sum(:rt_condition) / @car.ratings.count.to_f).round(0) %>
            <p>
              <% (rtg).times do %><i class="fas fa-circle fa-xs"></i><% end %><% (5 - rtg).times do %><i class="far fa-circle fa-xs"></i><% end %>
               Condition
            </p>
          </div>

          <div class="rating">
            <% rtg = (@car.ratings.sum(:rt_performance) / @car.ratings.count.to_f).round(0) %>
            <p>
              <% (rtg).times do %><i class="fas fa-circle fa-xs"></i><% end %><% (5 - rtg).times do %><i class="far fa-circle fa-xs"></i><% end %>
               Performance
            </p>
          </div>

          <div class="rating overall">
            <% sum_rat = @car.ratings.sum(:rt_fun) + @car.ratings.sum(:rt_condition) + @car.ratings.sum(:rt_performance) + @car.ratings.sum(:rt_owner) %>
            <% count_rat = @car.ratings.count %>
            <% rat_calc = (sum_rat / (count_rat * 4).to_f).round(0) %>

            <p>
              <% (rat_calc).times do %><i class="fas fa-circle fa-xs"></i><% end %><% (5 - rat_calc).times do %><i class="far fa-circle fa-xs"></i><% end %>
               Overall
            </p>
          </div>
        <% end %>
      </div>
  </div>

  <div class="row">

    <div class="card-bottom">
      <div class="car-info col-xs-6 col-md-2">
        <p><strong><%= @car.model %></strong></p>
        <p><i class="fas fa-truck-pickup"></i> <%= @car.car_type %></p>
        <p><i class="fas fa-gas-pump"></i> <%= @car.fuel_type %></p>
        <p><i class="fas fa-industry"></i> <%= @car.year %></p>
        <p><i class="fas fa-car-crash"></i> <%= number_with_delimiter(@car.mileage, :delimiter => '.') %> km</p>
      </div>

      <div class="car-desc col-xs-6">
        <p><%= @car.description %></p>
      </div>

      <div class="booking-form col-xs-12 col-sm-12 col-md-4">
        <%= simple_form_for [@car, @booking] do |f| %>

          <% if @car.bookings.where("status = ? AND bk_start >= ?", "active", Date.today).count.positive? %>

            <%= f.input :purpose, collection: ["Competition", "Showing", "Tourism", "Wedding", "Other Event"], placeholder: 'Booking purpose', label: false, error: 'Purpose is mandatory', label: 'Purpose', disabled: true %>
            <div class="inline">
              <%= f.input :bk_start, as: :string, input_html: {class: "booking-date"}, label: "Start", disabled: true %>
              <%= f.input :bk_end, as: :string, input_html: {class: "booking-date"}, label: "End", disabled: true  %>
            </div>
            <div id="total-price"><strong></strong></div>
            <%= f.button :submit, "Already Booked", class: "btn-secondary", disabled: true %>


          <% elsif @car.owner == current_user %>

            <%= f.input :purpose, collection: ["Competition", "Showing", "Tourism", "Wedding", "Other Event"], placeholder: 'Booking purpose', label: false, error: 'Purpose is mandatory', label: 'Purpose', disabled: true %>
            <div class="inline">
              <%= f.input :bk_start, as: :string, input_html: {class: "booking-date"}, label: "Start", disabled: true %>
              <%= f.input :bk_end, as: :string, input_html: {class: "booking-date"}, label: "End", disabled: true  %>
            </div>
            <div id="total-price"><strong></strong></div>
            <%= f.button :submit, "Your Car", class: "btn-secondary", disabled: true %>


          <% else %>

            <%= f.input :purpose, collection: ["Competition", "Showing", "Tourism", "Wedding", "Other Event"], placeholder: 'Booking purpose', label: false, error: 'Purpose is mandatory', label: 'Purpose' %>
            <div class="inline">
              <%= f.input :bk_start, as: :string, input_html: {class: "booking-date"}, label: "Start" %>
              <%= f.input :bk_end, as: :string, input_html: {class: "booking-date"}, label: "End"  %>
            </div>
            <div id="total-price"><strong></strong></div>
            <%= f.button :submit, "Book Now", class: "btn-primary" %>

          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</div>



<!-- *************** INJECTED CAR TABLE ********* -->

<div class="container div-car-bookings">

<!-- *************** INJECTED CONTROLLER KIND ***************************** -->

   <% @bookings = policy_scope(Booking).where(car_id: @car).order('bk_start DESC') %>
     <% if (@car.owner == current_user) %>
     <!-- <h6 style="text-align:center"><%#= @car.brand %>'s dream car rides..</h6> -->

<!-- *************** TABLEAU ***************************** -->
  <% i = 0 %>
  <% sum = 0 %>
  <% days = 0 %>
  <% sdays = 0 %>

  <% @bookings.each do |booking| %>
    <% i += 1 %>
    <% days = (booking.bk_end - booking.bk_start).to_i %>
    <% sdays += days %>
    <% sum += days * booking.car.price %>
  <% end %>

   <tr class="dash">
    <p style="text-align:center">
      <td> Rentals: <strong><%= i %></strong> | </td>
      <td> Days: <strong><%= sdays %></strong> | </td>
      <td> Revenues: <strong><%=number_to_currency((sum), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%></strong></td>
    </p>
   </tr>

<!-- *************** HEADER ***************************** -->



    <div class="row">
      <ul class="flex-container flex-start table-header">
        <li class="car-flex-item col-1"></li>
        <li class="car-flex-item col-2">Driver</li>
        <li class="car-flex-item col-3">Purpose</li>
        <li class="car-flex-item col-4">Start Date</li>
        <li class="car-flex-item col-4">Days</li>
        <li class="car-flex-item col-5">Price</li>
        <li class="car-flex-item col-6">Rating</li>
        <!-- <li class="car-flex-item col-7">Review</li> -->
      </ul>

      <% @bookings.each do |booking| %>

      <ul class="flex-container flex-start table-row">
        <li class="car-flex-item col-1"><%= cl_image_tag booking.driver.photo %></li>
        <li class="car-flex-item col-2"><%= booking.driver.name %></li>
        <li class="car-flex-item col-3"><%= booking.purpose %></li>
        <li class="car-flex-item col-4"><%= booking.bk_start %></li>
        <li class="car-flex-item col-4"><%= days = (booking.bk_end - booking.bk_start).to_i %></li>
        <li class="car-flex-item col-5">
          <%=number_to_currency((booking.car.price * days), precision: 0, unit: "€", separator: ",", delimiter: ".", format: "%n %u")%>
        </li>
        <li class="car-flex-item col-6">
          <div class="rating">
            <% sum_rat = booking.ratings.sum(:rt_fun) + booking.ratings.sum(:rt_condition) + booking.ratings.sum(:rt_performance) + booking.ratings.sum(:rt_owner) %>
            <% count_rat = booking.ratings.count %>

              <% if count_rat.zero? %>

              <% if booking.bk_start <= Date.today %>
                <p style="color: #18A999; font-weight: bold">Ongoing</p>

              <% else booking.bk_start > Date.today %>
                <p style="color: #1D84B5; font-weight: bold">Planned</p>

              <% end %>

            <% else %>

              <% rat_calc = (sum_rat / (count_rat * 4).to_f).round(0) %>
              <p>
                <% (rat_calc).times do %><i class="fas fa-circle fa-sm" style="margin-top: 0px"></i><% end %><% (5 - rat_calc).times do %><i class="far fa-circle fa-sm"></i><% end %>
              </p>

            <% end %>
          </div>
        </li>
<!--         <li class="car-flex-item col-7"><i class="fas fa-file-alt" style="font-size: 30px" onclick="" ="document.getElementById('id01').style.display='block'"></i></li> -->
      </ul>

      <% end %>

  <% end %>

  </div>
</div>

